
@import 'mixins';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic-ext);
*{
  outline: none;
}
a{
  
  &:hover{
    text-decoration: none;
  }
}
body{
  font : {
    family: 'Roboto', sans-serif;
    size: 16px;
    weight: 400;
  }
}

